.car {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 24px;
}

.car__main-content {
    align-self: stretch;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;

}
